finalflow.json
[{"id":"3a440809.bbc208","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"f39868f8.cff7f8","type":"ibmiot in","z":"3a440809.bbc208","authentication":"apiKey","apiKey":"999cc741.0ecd88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"141414","applicationId":"","deviceType":"smartBuild","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":105,"y":72,"wires":[["3977251.e6a2dda","b698ba2e.fd1d08"]]},{"id":"3977251.e6a2dda","type":"function","z":"3a440809.bbc208","name":"Parsing data","func":"global.set(\"Temperature\",msg.payload.d.Temperature);\nglobal.set(\"Humidity\",msg.payload.d.Humidity);\nglobal.set(\"LDR\",msg.payload.d.LDR);\nglobal.set(\"curren\",msg.payload.d.curren);\nreturn [{payload:msg.payload.d.Temperature},{payload:msg.payload.d.Humidity},{payload:msg.payload.d.LDR},{payload:msg.payload.d.curren}];","outputs":4,"noerr":0,"x":324,"y":77,"wires":[["c3e62b05.c909b8"],["c3e62b05.c909b8"],["c3e62b05.c909b8"],["c3e62b05.c909b8"]]},{"id":"c3e62b05.c909b8","type":"debug","z":"3a440809.bbc208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":541,"y":79,"wires":[]},{"id":"81f8c1d5.22016","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":12,"width":0,"height":0,"passthru":false,"label":"lighton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":397,"y":201,"wires":[["64e11c9d.586f54"]]},{"id":"10e0ce4e.1a92d2","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":13,"width":0,"height":0,"passthru":false,"label":"lightoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":383,"y":244,"wires":[["64e11c9d.586f54"]]},{"id":"c1beaecd.e57e2","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":14,"width":0,"height":0,"passthru":false,"label":"fanon","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fanon","payloadType":"str","topic":"","x":390,"y":285,"wires":[["64e11c9d.586f54"]]},{"id":"10f4fd84.44f632","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":15,"width":0,"height":0,"passthru":false,"label":"fanoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fanoff","payloadType":"str","topic":"","x":394,"y":329,"wires":[["64e11c9d.586f54"]]},{"id":"50c0737a.cdd87c","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":16,"width":0,"height":0,"passthru":false,"label":"acon","tooltip":"","color":"","bgcolor":"","icon":"","payload":"acon","payloadType":"str","topic":"","x":398,"y":367,"wires":[["64e11c9d.586f54"]]},{"id":"f8532eab.592b9","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":17,"width":0,"height":0,"passthru":false,"label":"acoff","tooltip":"","color":"","bgcolor":"","icon":"","payload":"acoff","payloadType":"str","topic":"","x":394,"y":408,"wires":[["64e11c9d.586f54"]]},{"id":"64e11c9d.586f54","type":"ibmiot out","z":"3a440809.bbc208","authentication":"apiKey","apiKey":"999cc741.0ecd88","outputType":"cmd","deviceId":"141414","deviceType":"smartBuild","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":741.5,"y":279,"wires":[]},{"id":"ee67bad9.5373c8","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":18,"width":0,"height":0,"passthru":false,"label":"echo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"echo","payloadType":"str","topic":"","x":402.5,"y":446,"wires":[["64e11c9d.586f54"]]},{"id":"2c29a67a.dae85a","type":"ui_button","z":"3a440809.bbc208","name":"","group":"98ef547c.1e5ed8","order":19,"width":0,"height":0,"passthru":false,"label":"away","tooltip":"","color":"","bgcolor":"","icon":"","payload":"away","payloadType":"str","topic":"","x":394.5,"y":484,"wires":[["64e11c9d.586f54"]]},{"id":"b698ba2e.fd1d08","type":"cloudant out","z":"3a440809.bbc208","name":"","cloudant":"","database":"smartbuild","service":"mileered-cloudantNoSQLDB","payonly":false,"operation":"insert","x":205.5,"y":130,"wires":[]},{"id":"a4362d8e.72d94","type":"http in","z":"3a440809.bbc208","name":"Http Request--Temp","url":"/Temperature","method":"get","upload":false,"swaggerDoc":"","x":184,"y":562,"wires":[["b3b6e6ee.2eeba8"]]},{"id":"6171f892.180fb8","type":"http response","z":"3a440809.bbc208","name":"Temp Response","statusCode":"","headers":{},"x":600,"y":563,"wires":[]},{"id":"b3b6e6ee.2eeba8","type":"function","z":"3a440809.bbc208","name":"Passing Response","func":"msg.payload={\"Temperature\":global.get(\"Temperature\")};\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":562,"wires":[["6171f892.180fb8"]]},{"id":"9529f690.47d978","type":"http in","z":"3a440809.bbc208","name":"Http Request--Hum","url":"/Humidity","method":"get","upload":false,"swaggerDoc":"","x":184,"y":602,"wires":[["d8d167c7.f47668"]]},{"id":"ae1e2f11.543a","type":"http response","z":"3a440809.bbc208","name":"Hum Response","statusCode":"","headers":{},"x":600,"y":603,"wires":[]},{"id":"d8d167c7.f47668","type":"function","z":"3a440809.bbc208","name":"Passing Response","func":"msg.payload={\"Humidity\":global.get(\"Humidity\")};\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":602,"wires":[["ae1e2f11.543a"]]},{"id":"16446f0a.75cdd1","type":"http in","z":"3a440809.bbc208","name":"Http Request--LDR","url":"/LDR","method":"get","upload":false,"swaggerDoc":"","x":186,"y":644,"wires":[["de383108.44894"]]},{"id":"4c6d13bd.0c61cc","type":"http response","z":"3a440809.bbc208","name":"LDR Response","statusCode":"","headers":{},"x":602,"y":645,"wires":[]},{"id":"de383108.44894","type":"function","z":"3a440809.bbc208","name":"Passing Response","func":"msg.payload={\"LDR\":global.get(\"LDR\")};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":644,"wires":[["4c6d13bd.0c61cc"]]},{"id":"99108016.f2c6f","type":"http in","z":"3a440809.bbc208","name":"Http Request--Current","url":"/curren","method":"get","upload":false,"swaggerDoc":"","x":180,"y":687,"wires":[["ca2f46ab.02a7e8"]]},{"id":"659e283.dc866d8","type":"http response","z":"3a440809.bbc208","name":"Current Response","statusCode":"","headers":{},"x":612,"y":685,"wires":[]},{"id":"ca2f46ab.02a7e8","type":"function","z":"3a440809.bbc208","name":"Passing Response","func":"msg.payload={\"curren\":global.get(\"curren\")};\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":684,"wires":[["659e283.dc866d8"]]},{"id":"b7477740.93e428","type":"http in","z":"3a440809.bbc208","name":"Http Request--Command","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":189,"y":727,"wires":[["f76c5de3.a9bf6"]]},{"id":"f76c5de3.a9bf6","type":"function","z":"3a440809.bbc208","name":"Passing Response","func":"msg.payload={\"command\":global.get(\"command\")};\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":725,"wires":[["77ac1a57.987084","c5c128f3.d91ea8"]]},{"id":"77ac1a57.987084","type":"http response","z":"3a440809.bbc208","name":"Command Response","statusCode":"","headers":{},"x":635,"y":725,"wires":[]},{"id":"c5c128f3.d91ea8","type":"debug","z":"3a440809.bbc208","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":598,"y":782,"wires":[]},{"id":"1f8d2230.babaae","type":"ui_ui_control","z":"3a440809.bbc208","name":"manual","x":110.5,"y":373,"wires":[["81f8c1d5.22016","10e0ce4e.1a92d2"]]},{"id":"999cc741.0ecd88","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"4y51d2.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"98ef547c.1e5ed8","type":"ui_group","z":"","name":"Default","tab":"7463f124.79f08","disp":true,"width":"6","collapse":false},{"id":"7463f124.79f08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]